.entry {
	background-color: grey;
}

.left {
	height: 100%;
	width: 100%;
	background: #151371;
	color: white;
}

.logo {
	height: 3em;
	width: 3em;
	padding-left: 10px;
}

.content {
	height: 100%;
}
